.gridView {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}
@media screen and (max-width: 900px) {
  .gridView {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .gridView {
    grid-template-columns: repeat(1, 1fr);
  }
}
