.page {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.gridBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin: 24px 0;
}
