.post {
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
}
.name {
  margin: 0;
}
.createdAt {
  font-size: 14px;
  color: #798777;
  margin: 0;
}
.avatar {
  margin-right: 8px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  font-size: 14px;
  margin-right: 8px;
  color: #798777;
  cursor: pointer;
  margin-top: 0;
}
.tag:hover {
  color: #111f4d;
}
.title {
  color: #111f4d;
  cursor: pointer;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.likes {
  display: flex;
  align-items: center;
}

.smallText {
  font-size: 15px;
  color: #111f4d;
  margin: 0;
}

.successText {
  color: #406343;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }
}
