.skeleton {
  height: height;
  background-color: #fff;
  margin: 16px 0 8px 0;
  border-radius: 8px;
  position: relative;
}

/* .mover {
  background-color: #f2f4f7;
  height: 100%;
  width: 100%;
  position: absolute;
}

@keyframes shadow {
  0% {
    background-color: #f2f4f7;
  }
  25% {
    background-color: #ffffff;
  }
  50% {
    background-color: #f2f4f7;
  }
  100% {
    background-color: #ffffff;
  }
} */
